* {
    font-family: Arial, Helvetica, sans-serif;
}

.nav-title {
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 40px 50px;
}

.nav-title a {
    text-decoration: none;
    color: black;
}

.text-title {
    display: flex;
    align-items: center;
    margin: 0px 60px;
    margin-top: -10px;
}

.text-title img{
    width: 5%;
}

.text-title h1 {
    font-size: 40px;
    margin: 0px 30px;
}

.content {
    display: flex;
    margin: 40px;
}

.subcontent {
    border: 1px solid #ECECEC;
    border-radius: 20px;
    width: 40%;
    height: 400px;
    margin: 0px 20px;
}