body {
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    width: 100%;
    height: 150px;
    padding: 20px 0px;
    background-color: #43BDEE;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.title-text {
    position: relative;
    padding: 20px 40px;
    color: black;
}

.title-text h1 {
    margin: 0;
    padding: 10px 10px;
    font-size: 40px;
}

.title-text div {
    display: flex;
}

.title-text a {
    padding: 20px 20px;
    margin: 0;
    text-decoration: none;
    color: black;
}

.title {
    display: flex;
    align-items: center;
}

.title img {
    width: 4%;
    height: 4%;
    padding: 10px 10px;
    margin-left: 10px;
}

.desc {
    width: 96%;
    padding: 20px;
    margin-top: 13%;
}

.desc img{
    padding: 10px 650px;
    width: 60px;
}

.desc h5{
    color: grey;
    margin: 0;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    font-size: 18px;
}