body {
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    width: 80%;
    height: 200px;
    padding: 30px;
    background-color: #43BDEE;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0px 0px 50px 0px;
}

.title {
    position: relative;
    padding: 0px 40px;
    margin-top: 80px;
}

.title h1{
    color: black;
    margin: 0;
}

.card-1 {
    width: 25%;
    padding: 15px;
    background-color: #1388B8;
    position: relative;
    margin-top: 32px;
    margin-left: 40px;
    border-radius: 30px 0px 0px 0px;
}

.card-1 p{
    margin: 10px 0px;
}

.card-title {
    position: relative;
    color: white;
    padding: 0px 5px;
}

.input-field {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.input-field input{
    padding: 10px 10px;
    border: 1px solid #E2E8F0;
    border-radius: 10px;
}

.card-settings {
    display: flex;
}

.card-dua {
    width: 25%;
    padding: 15px;
    background-color: #1388B8;
    position: relative;
    margin-top: 32px;
    border-radius: 0px 30px 0px 0px;   
}

.AI-text {
    padding: 20px 45px;
}

.card {
    width: 25%;
    padding: 10px;
    margin: 0px 550px;
    background-color: #E7E7E7;
    position: absolute;
    bottom: 0;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    position: relative;
}

.card img {
    width: 40px;
    background-color: #E7E7E7;
    padding: 0px 20px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.card button {
    border: none;
    background-color: #E7E7E7;
}

.sign-btn {
    border: 2px solid #43BDEE;
    border-radius: 10px 10px 0px 0px;
    width: 70px;
    background-color: #43BDEE;
    height: 5px;
    position: relative;
    margin: 0;
    margin-bottom: -10px;
}

.hover-btn {
    background-color: #E7E7E7;
    border: 2px solid #E7E7E7;
    border-radius: 10px 10px 0px 0px;
    width: 70px;
    height: 5px;
    position: relative;
    margin: 0;
    margin-bottom: -10px;
    opacity: 0;
    transition: opacity 0.7s ease;
}

.btn-1 a:hover+.hover-btn {
    background-color: #43BDEE;
    border-color: #43BDEE;
    opacity: 1;
}

.btn-2 a:hover+.hover-btn {
    background-color: #43BDEE;
    border-color: #43BDEE;
    opacity: 1;
}